SPOTIFY_CLIENT_ID=your_spotify_app_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_app_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:4173/spotify/callback
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_PROFILE_URL=https://open.spotify.com/user/31hpqr3lwz6jeevlxlqtazh4cszi
SPOTIFY_PROFILE_NAME=Mahesh Aithal (RS)
